.hero {
    margin-bottom: 6.66em;
}


.imgHeroTablet, .imgHeroDesktop {
    display: none;
}

.imgHeroMobile {
    width: 100%;
    display: block;
    margin-bottom: 0;
}

.hero_content {
    padding: 1.77em 4.2% 0;
}

.title {
    composes: heading-xl from '../App.css';
}

.hero_body 
{
    composes: body-m from '../App.css';    
}

.main_title {
    composes: heading-m from '../App.css';
}

.main_top_body {
    composes: body-m from '../App.css';
}

.imgGallery1Mobile, .imgGallery2Mobile, .imgGallery3Mobile {
    width: 100%;
    display: block;
}

.imgGallery1Tablet, .imgGallery1Desktop, .imgGallery2Tablet, .imgGallery2Desktop, .imgGallery3Tablet, .imgGallery3Desktop {
    display: none;
}

.imgGallery1Mobile {
    margin-bottom: 1.55em;
}

.main {
    padding-bottom: 7.5em;
}

.main_top 
{
    margin-bottom: 1.6em;
}

.imgGallery2Mobile {
    margin-bottom: .88em;
}

.imgGallery2Mobile {
    margin-bottom: .88em;
}

.invitation {
    background-color: var(--color-2);
    color: var(--color-4);
    padding: 2.66em 6.4%;
}

.invitation_title {
    composes: heading-m from '../App.css';
}

.invitation_body 
{
    composes: body-m from '../App.css';
}


@media (min-width: 768px)
{
    .imgHeroMobile {
        display: none;
    }

    .imgHeroTablet {
        display: block;
    }

    .hero {
        padding: 0 5.2% 0 0;
        display: grid;
        grid-template-columns: 63% auto;
        grid-template-rows: auto;
        align-items: center;
    }

    .imgHeroTablet {
        grid-column: 1 / 2;
        grid-row:  1 / -1;
        width: 100%;
    }

    .hero_content
    {
        max-width: 350px;
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        justify-self: end;
    }

    .main {
        padding: 0 5% 6.66em;
    }

    .main_top {
        display: flex;
        gap: 8.8%;
        margin-bottom: 0.61em;
    }

    .main_top_text {
        order: 0;
        max-width: 223px;
    }

    .imgGallery1Mobile, .imgGallery2Mobile, .imgGallery3Mobile {
        display: none;
    }

    .imgGallery1Tablet, .imgGallery2Tablet, .imgGallery3Tablet {
        display: block;
        width: 100%;
    }


    .main_grid 
    {
        display: grid;
        grid-template-columns: 57.7% 40.6%;
        grid-template-rows: auto auto;
        grid-column-gap: 1.5%;
        grid-row-gap: 0.61em;
    }

    .imgGallery2Tablet {
        grid-column: 1 / 2;
        grid-row: 1 / -1;
    }

    .imgGallery3Tablet {
        grid-column: 2 / -1;
        grid-row: 1 / 2;
        height: 100%;
    }

    .invitation {
        grid-column: 2 / -1;
        grid-row: 2 / 3;
    }

}