.hero {
    margin-bottom: 6.66em;
}


.imgHeroTablet, .imgHeroDesktop {
    display: none;
    width: 100%;
    object-fit: cover;
}

.imgHeroMobile {
    width: 100%;
    display: block;
    margin-bottom: 0;
    object-fit: cover;
}

.hero_content {
    padding: 1.77em 4.2% 0;
}

.title {
    composes: heading-xl from '../App.css';
}

.title2 {
    display: none;
}

.hero_body 
{
    composes: body-m from '../App.css';    
    color: var(--color-3);
}

.main {
    padding: 0 4.2%;
}
.main_title {
    composes: heading-m from '../App.css';
}

.main_top_body {
    composes: body-m from '../App.css';
}

.imgGallery1Mobile, .imgGallery2Mobile, .imgGallery3Mobile {
    width: 100%;
    display: block;
    object-fit: cover;
}

.imgGallery1Tablet, .imgGallery1Desktop, .imgGallery2Tablet, .imgGallery2Desktop, .imgGallery3Tablet, .imgGallery3Desktop {
    display: none;
    object-fit: cover;
    width: 100%;
}

.imgGallery1Mobile {
    margin-bottom: 1.55em;
}

.main {
    padding-bottom: 7.5em;
    padding: 0 5%;
}


.main_top 
{
    margin-bottom: 1.6em;
}

.main_top_text {

    padding: 2em 0;
}

.main_top_body {
    color: var(--color-3);
}
.imgGallery2Mobile {
    margin-bottom: .88em;
}

.imgGallery2Mobile {
    margin-bottom: .88em;
}

.invitation {
    background-color: var(--color-2);
    color: var(--color-4);
    padding: 2.66em 6.4%;
}

.invitation_title {
    composes: heading-m from '../App.css';
}

.invitation_body 
{
    composes: body-m from '../App.css';
}


@media (min-width: 768px)
{
    .imgHeroMobile {
        display: none;
    }

    .imgHeroTablet {
        display: block;
    }

    .hero {
        padding: 0 5.2% 0 0;
        display: grid;
        grid-template-columns: 63% auto;
        grid-template-rows: auto;
        align-items: center;
    }

    .imgHeroTablet {
        grid-column: 1 / 2;
        grid-row:  1 / -1;
    }

    .hero_content
    {
        width: 100%;
        max-width: 400px;
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        justify-self: end;
    }

    .main {
        padding: 0 5% 6.66em;
    }

    .main_top {
        display: flex;
        gap: 8.8%;
        margin-bottom: 0.61em;
    }

    .main_top_text {
        order: 0;
        max-width: 223px;
        padding-top: 3.33em;
    }

    .imgGallery1Mobile, .imgGallery2Mobile, .imgGallery3Mobile {
        display: none;
    }

    .imgGallery1Tablet, .imgGallery2Tablet, .imgGallery3Tablet {
        display: block;
    }


    .main_grid 
    {
        display: grid;
        grid-template-columns: 57.8% 40.7%;
        grid-template-rows: auto auto;
        grid-column-gap: 1.5%;
        grid-row-gap: 0.61em;
    }

    .imgGallery2Tablet {
        grid-column: 1 / 2;
        grid-row: 1 / -1;
    }

    .imgGallery3Tablet {
        grid-column: 2 / -1;
        grid-row: 1 / 2;
        height: 100%;
    }

    .invitation {
        grid-column: 2 / -1;
        grid-row: 2 / 3;

        padding: 3.6em 10%;
    }

}


@media (min-width: 1440px)
{
   .imgHeroTablet {
    display: none;
   }

   .imgHeroDesktop {
    display: block;
   }

   .hero {
    grid-template-columns: 31.25% 37.5% 31.25%;
    grid-template-rows: auto;
    padding: 0 11.4% 0 0;
   }

   .gridBlack {
        grid-column: 1 / 2;
        grid-row: 1 / -1;
        width: 100%;
        height: 100%;
        background-color: var(--color-2);
   }
   .imgHeroDesktop {
    grid-column: 2 / 3;
    grid-row:  1 / -1;
   }
   .hero_content {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    justify-self: end;
    align-self: flex-start;
    margin-top: 10em;
   }


   .title {
    display: none;
   }

   .title2 {
    display: block;
    composes: heading-xl from '../App.css';
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    align-self: flex-start;
    color: var(--color-4);
    margin-top: 1.97em;
    position: relative;
    
    margin-left: 11.4%;
    max-width: 514px;
   }

  
   
   .title2 .dark {
    color: var(--color-2)
   }


   .main {
    padding-left: 11.4%;
    padding-right: 11.4%;
    padding-bottom: 10em;
   }

   .main_top_text {
    max-width: 350px;
   }

   .imgGallery1Tablet {
    display: none;
   }
   .imgGallery1Desktop {
    display: block;
    max-height: 400px;
    object-fit: cover;
    width: 100%;
   }


   .main_grid {
    grid-template-columns: 57.7% 40.7%;
    grid-template-rows: 17.3em 20.9em;
    grid-column-gap: 2.7%  1.66em;
   }
 
   .imgGallery2Tablet, .imgGallery3Tablet {
    display: none;
   }

   .imgGallery2Desktop {
    display: block;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
   }

   .imgGallery3Desktop {
    height: 100%;
    display: block;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
   }
}


@media (min-width: 1600px)
{
    .title2 .light 
    {
        color: var(--color-4);
    }
}


@media (min-width: 1800px)
{
    .title2 .light2
    {
        color: var(--color-4);
    }
}

@media (min-width: 2000px)
{
    .title2 .dark {
        color: var(--color-4);
    }
}

