.btn {
    font-size: 1.11rem;
    display: flex;
    align-items: stretch;
    border:none;
    cursor: pointer;
    outline: none;
    background:none;
  }
  
  .btn_content {
      padding: 1.2em 1.6em;
      text-transform: uppercase;
      letter-spacing: 0.182em;
      font-weight: 800;
      font-family: var(--font-1);
      background-color: var(--color-2);
      color: var(--color-4);
      transition: background-color 300ms;
      margin-top: 0;
      margin-bottom: 0;
  }
  
  .btn_arrow {
      background-color: var(--color-1);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1.33em;
      transition: background-color 300ms;
  
  }
  
  .btn:hover .btn_content {
    background-color: var(--color-1);
  }
  .btn:hover .btn_arrow {
    background-color: var(--color-2);
  }