
.footer.dark 
{
    background-color: var(--color-2);
    color: var(--color-4);
}

.footer.light {
    background-color: var(--color-1);
}

.footer {
    padding: 2.66em 8%;
}

.body {
    composes: body-s from '../App.css';
    max-width: 311px;
}

.social {
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 1.11em;

}

.socialItem {
    cursor: pointer;
}

.socialIcon path 
{
    transition: fill 300ms;
}

.footer.light .socialIcon path {
    fill: var(--color-2);
}


.footer.dark .socialItem:hover path 
{
    fill: var(--color-1);
}


.footer.light .socialItem:hover path 
{
    fill: var(--color-4);
}


@media (min-width: 768px)
{
    .footer {
        padding: 3.11em 5% 3.11em;
        display: flex;
        align-items: start;
    }

    .logo {
        margin-right:  8.3%;
    }

    .social {
        margin-left: auto;
    }

    .body {
        margin-top: 0;
    }


  
}

@media (min-width: 1440px)
{
    .footer {
        display: flex;
    }

    .logo {
        margin-right: 9.7%;
    }
    
    .body {
        max-width: 430px;
    }   
}