
:root 
{
  --color-1: rgb(213, 150, 108);
  --color-2: rgb(21,21,21);
  --color-3: rgb(68,68,68);
  --color-4:rgb(255,255,255);

  --font-1: "Big Shoulders Display", sans-serif;
  --font-2: "Outfit", sans-serif;
}


html {
  font-size: 18px;
}


#root 
{
  width: 100vw;
  min-height: 100vh;
}

body {
  margin:0;
}


* {
  box-sizing: border-box;
}

* :first-child {
  margin-top: 0;
}

* :last-child {
  margin-bottom: 0;
}

.heading-xl 
{
  font-family:  var(--font-1);
  font-size:  3.33rem;
  font-weight: 900;
  line-height: 0.91;
  text-transform: uppercase;
}

.heading-l, .heading-m 
{
  font-family: var(--font-1);
  font-size: 2.7rem;
  font-weight: 900;
  line-height: 0.9;

  text-transform: uppercase;
}

.heading-s 
{
  font-family: var(--font-1);
  font-size: 1.77rem;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
}


.body-m {
    line-height: 1.55;
    font-family: var(--font-2);
}

.body-s 
{
  font-family: var(--font-2);
  font-size: 0.88rem;
  font-weight: 300;
  line-height: 1.625;
}




@media (min-width:768px)
{
  .heading-xl 
  {
    font-size: 3.88rem;
    line-height: 0.92;
  }

  .heading-l 
  {
    font-size: 3.05rem;
    line-height: 0.9;
  }

  .heading-m 
  {
    font-size: 2.77rem;
    line-height: 0.9;
  }

  .heading-s 
  {
    font-size: 1.77rem;
    line-height: 1;
  }

  .body-s 
  {
    font-size: .88rem;
    line-height: 1.625;
  }




  
}